# EmailJS configuration for the Contact form.
# Sign up at https://www.emailjs.com and create a Service + Template.
VITE_EMAILJS_SERVICE_ID=service_njut6r8
VITE_EMAILJS_TEMPLATE_ID=template_mu2cozh
VITE_EMAILJS_TEMPLATE_ID=template_c8tcbrg
VITE_EMAILJS_PUBLIC_KEY=xSIqCLn073k-FIyVf